<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
<div class="container">

   <a href="http://127.0.0.1:3000/" class="navbar-brand text-warning font-weight-bold">ALBUM</a>
</div>
</nav>
<div class="carousel-inner  ">
    <div class="carousel-item active">
        <div class="image-fluid ">
             <%= image_tag  "https://images.pexels.com/photos/733853/pexels-photo-733853.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500", width: "1300px ", height: "550px"%>
        </div>

        <div class="carousel-caption " >

<div class="container-fluid">
<div class="row p-5">
     <div class="col-2"></div>
   
        <div class="col-8 text-center" >
            <div class="container shadow-lg " style="padding-top:80px">
     

              <h1>Sign up</h1>
              <br>

                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="field">
                    <%= f.label :email %>: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                </div>
                
                <div class="field">
                    <%= f.label :password %>:
                    <% if @minimum_password_length %>
                    &nbsp&nbsp
                    <%= f.password_field :password, autocomplete: "new-password" %><br/>&nbsp&nbsp
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                </div>

                <div class="field">
                    <%= f.label :confirmation %>:&nbsp&nbsp
                    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                </div>
                <div class="field">
                <%= f.label :admin, "admin" %>
                <%= f.check_box :admin %>
                
            </div>

                <div class="actions">
                    <%= f.submit "Sign up" %>
                </div>
                <% end %>

                <%= render "devise/shared/links" %>
                <a href="http://127.0.0.1:3000/">Back</a>
                <div>
                </div>
                

            </div>
        </div>
    </div>   
</body>