<div class="jumbotron">
<div class="container  ">
<h1 class="text-center text-success">Recent Uploaded </h1>
    <div class="row border-dark mb-5 pt-5">
        <% @albums.each do |album| %>
        <div class="col mr-2 card">

            <div class="card-body ">
                <p><strong>User: </strong><%= album.user.email.split('@')[0] %></p>
                <p><strong>Title: </strong><%= album.title %></p>
                <p><strong>Published On: </strong><span class="text-muted"><%= album.created_at.to_s.split(' ')[0] %></span></p>
                <p><strong>Last Updated: </strong><span class="text-muted"><%= album.updated_at.to_s.split(' ')[0] %></span></p>
                <%= link_to 'Show', album , class:'btn btn-primary text-white btn-sm' %>
            </div>
        </div>
        <% end %>
    </div>
</div>
<%= paginate @albums %>
</div>