

<div class="jumbotron">
<p id="notice"><%= notice %></p>
<div class="container">
  <h1 class="display-2 text-center text-success">Gallery<h1>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <%= search_form_for @search do |f| %>
      <%= f.text_field :title_or_discription_cont, class: " rounded "%>
      <%= f.submit "Search", class: "rounded btn-secondary" %>
      <% end %>
    </div>
    <div class="col-8 text-right  h2 "><u>
    <%= link_to 'Create New Gallery', new_album_path %></u>
    </div>
  </div>   
</div>     
  

  <table class="table table-warning table-hover table-bordered text-center ">
    <thead class="h4">
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Created On </th>
        <th>Updated On </th>
        <th>Show Album</th> 
        <th>Edit Album</th>
        <th>Destroy Album</th>
        <!--  <th colspan="3"></th> -->
      </tr>
    </thead>

   <tbody>
     <% @albums.each do |album| %>
     <tr>
        <td class="h6"><%= album.title %></td>
        <td class="h6"><%= album.discription %></td>
        <td class="h6"><%= album.created_at.to_s.split(' ')[0] %></td>
        <td class="h6"> <%= album.updated_at.to_s.split(' ')[0] %></td>
        <td class="h6"><%= link_to 'Show', album %></td>
        <td class="h6"><%= link_to 'Edit', edit_album_path(album) %></td>
        <td class="h6"><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></td>


     </tr>
     <% end %>
    </tbody>
    </table>
<br>
<%= paginate @albums%>

</div>
